In [9]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [10]:
trafficDF = pd.read_csv("Average_Daily_Traffic_Counts.csv")
potholesDF = pd.read_csv("Potholes_Patched.csv")

In [11]:
trafficDF.pop('ID ')
trafficDF.sort_values(by=['Date of Count'])

,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location
1194,2531 West,51st St,01/09/2007,20200,East Bound: 10300 / West Bound: 9900,41.801077,-87.688258,"(41.801077, -87.688258)"
927,299 North,Dearborn St,01/09/2007,16600,North Bound: 16600 / / Oneway North Bound,41.886932,-87.629531,"(41.886932, -87.629531)"
56,645 North,State St,01/09/2007,23100,North Bound: 10500 / South Bound: 12600,41.893306,-87.628117,"(41.893306, -87.628117)"
554,4810 North,Milwaukee Ave,01/09/2007,27600,North Bound: 11600 / South Bound: 16000,41.968150,-87.760968,"(41.96815, -87.760968)"
1200,165 North,Canal St,01/24/2007,10200,North Bound: 10200 / / Oneway North Bound,41.885079,-87.639827,"(41.885079, -87.639827)"
...,...,...,...,...,...,...,...,...
1045,5937 West,Madison St,12/13/2006,13400,East Bound: 5500 / West Bound: 7900,41.880108,-87.773266,"(41.880108, -87.773266)"
1039,5900 South,Lake Shore Dr,12/18/2006,53800,North Bound: 29200 / South Bound: 24600,41.787818,-87.577818,"(41.787818, -87.577818)"
689,7150 South,Cottage Grove Ave,12/19/2006,21400,North Bound: 9500 / South Bound: 11900,41.764407,-87.605533,"(41.764407, -87.605533)"
498,7168 West,North Ave,12/20/2006,36000,East Bound: 17100 / West Bound: 18900,41.908868,-87.804756,"(41.908868, -87.804756)"
259,710 West,87th St,12/20/2006,32500,East Bound: 15800 / West Bound: 16700,41.736141,-87.642399,"(41.736141, -87.642399)"

In [12]:
Q1=np.percentile(trafficDF["Total Passing Vehicle Volume"],25,interpolation='midpoint')
Q3=np.percentile(trafficDF["Total Passing Vehicle Volume"],75,interpolation='midpoint')
IQR=Q3-Q1
print("Shape before removing outliers: ",trafficDF.shape)

upperBound=np.where(trafficDF["Total Passing Vehicle Volume"]>=(Q3+1.5*IQR))
lowerBound=np.where(trafficDF["Total Passing Vehicle Volume"]<=(Q1-1.5*IQR))

trafficDF.drop(upperBound[0],inplace=True)
trafficDF.drop(lowerBound[0],inplace=True)

print("Shape after removing outliers: ",trafficDF.shape)

Shape before removing outliers:  (1279, 8)
Shape after removing outliers:  (1239, 8)

In [13]:
def retMonth(row):
    return int(row["Date of Count"][0:2])
trafficDF["Month"]=trafficDF.apply (lambda row: retMonth(row), axis=1)

In [14]:
daysOfTheWeek=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
def retDayOfTheWeek(row):
    Month=row["Month"]
    day=int(row["Date of Count"][3:5])
    daysSinceTheFirst=0
    if Month==1:
        daysSinceTheFirst=day-1
    elif Month==2:
        daysSinceTheFirst=30+day
    elif Month==3:
        daysSinceTheFirst=30+28+day
    elif Month==4:
        daysSinceTheFirst=30+28+31+day
    elif Month==5:
        daysSinceTheFirst=30+28+31+30+day
    elif Month==6:
        daysSinceTheFirst=30+28+31+30+31+day
    elif Month==7:
        daysSinceTheFirst=30+28+31+30+31+30+day
    elif Month==8:
        daysSinceTheFirst=30+28+31+30+31+30+31+day
    elif Month==9:
        daysSinceTheFirst=30+28+31+30+31+30+31+31+day
    elif Month==10:
        daysSinceTheFirst=30+28+31+30+31+30+31+31+30+day
    elif Month==11:
        daysSinceTheFirst=30+28+31+30+31+30+31+31+30+31+day
    elif Month==12:
        daysSinceTheFirst=30+28+31+30+31+30+31+31+30+31+30+day
    return daysSinceTheFirst%7
trafficDF["Day of the week"]=trafficDF.apply (lambda row: retDayOfTheWeek(row), axis=1)

In [15]:
Q1=np.percentile(potholesDF["NUMBER OF POTHOLES FILLED ON BLOCK"],25,interpolation='midpoint')
Q3=np.percentile(potholesDF["NUMBER OF POTHOLES FILLED ON BLOCK"],75,interpolation='midpoint')
IQR=Q3-Q1
print("Shape before removing outliers: ",potholesDF.shape)

upperBound=np.where(potholesDF["NUMBER OF POTHOLES FILLED ON BLOCK"]>=(Q3+1.5*IQR))
lowerBound=np.where(potholesDF["NUMBER OF POTHOLES FILLED ON BLOCK"]<=(Q1-1.5*IQR))

potholesDF.drop(upperBound[0],inplace=True)
potholesDF.drop(lowerBound[0],inplace=True)

print("Shape after removing outliers: ",potholesDF.shape)

Shape before removing outliers:  (122344, 7)
Shape after removing outliers:  (112796, 7)

In [16]:
potholesDF=potholesDF.dropna()

In [17]:
trafficDF

,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location,Month,Day of the week
0,5838 West,Lake St,11/14/2006,7100,East Bound: 3600 / West Bound: 3500,41.887904,-87.771064,"(41.887904, -87.771064)",11,2
1,320 East,76th St,03/28/2006,8600,East Bound: 3800 / West Bound: 4800,41.756542,-87.617335,"(41.756542, -87.617335)",3,2
3,125 East,24th St,03/30/2006,700,East Bound: 400 / West Bound: 300,41.849302,-87.622658,"(41.849302, -87.622658)",3,4
4,2924 East,130th St,08/29/2006,4200,East Bound: 2300 / West Bound: 1900,41.659177,-87.552112,"(41.659177, -87.552112)",8,2
5,1931 West,Lake St,10/19/2006,6900,East Bound: 3400 / West Bound: 3500,41.885023,-87.675556,"(41.885023, -87.675556)",10,4
...,...,...,...,...,...,...,...,...,...,...
1274,256 East,35th St,03/29/2006,10200,East Bound: 4800 / West Bound: 5400,41.831081,-87.619334,"(41.831081, -87.619334)",3,3
1275,2032 North,Pulaski Rd,10/05/2006,21300,North Bound: 10800 / South Bound: 10500,41.918169,-87.726590,"(41.918169, -87.72659)",10,4
1276,6020 South,Halsted St,03/21/2006,13200,North Bound: 6900 / South Bound: 6300,41.784530,-87.644905,"(41.78453, -87.644905)",3,2
1277,3454 West,Franklin St,10/19/2006,5000,East Bound: 2200 / West Bound: 2800,41.890003,-87.713444,"(41.890003, -87.713444)",10,4
1278,316 West,51st St,10/19/2006,14400,East Bound: 8100 / West Bound: 6300,41.801796,-87.633948,"(41.801796, -87.633948)",10,4

In [18]:
potholesDF

,ADDRESS,REQUEST DATE,COMPLETION DATE,NUMBER OF POTHOLES FILLED ON BLOCK,LATITUDE,LONGITUDE,LOCATION
0,5505 W WINDSOR AVE,04/24/2019 02:06:04 PM,04/26/2019 02:05:16 PM,5,41.963067,-87.765233,POINT (-87.765233060697 41.963067269624)
1,7915 S WHIPPLE Street,10/12/2018 09:34:38 AM,04/26/2019 11:55:04 AM,9,41.749263,-87.698433,POINT (-87.698432887781 41.74926256766)
2,2200 N WESTERN AVE,02/09/2021 11:44:17 AM,02/15/2021 08:29:38 AM,2,41.921868,-87.687877,POINT (-87.687877357472 41.921868144663)
3,1811 N SAWYER AVE,01/26/2021 05:24:41 PM,02/15/2021 08:24:24 AM,3,41.914144,-87.708301,POINT (-87.708301259581 41.914143803492)
4,1804 N SAWYER AVE,01/26/2021 05:24:02 PM,02/15/2021 08:25:11 AM,2,41.913996,-87.708876,POINT (-87.708875611874 41.913995672093)
...,...,...,...,...,...,...,...
122339,6412 N CENTRAL AVE,10/20/2022 11:06:03 AM,10/28/2022 07:38:48 AM,3,41.997901,-87.763882,POINT (-87.76388174557 41.997901361505)
122340,8600 W BERWYN AVE,10/28/2022 01:37:30 PM,10/28/2022 01:38:32 PM,3,41.975397,-87.841767,POINT (-87.841767305979 41.975396530466)
122341,714 S LA SALLE ST,10/28/2022 08:19:54 AM,10/28/2022 08:20:29 AM,2,41.873122,-87.631764,POINT (-87.63176428673 41.873121784361)
122342,200 N CLINTON ST,10/28/2022 08:23:33 AM,10/28/2022 08:24:04 AM,4,41.885798,-87.641352,POINT (-87.641352241032 41.885797893083)
122343,33 E 80TH ST,10/03/2022 06:20:40 PM,10/28/2022 02:27:23 PM,4,41.749130,-87.623151,POINT (-87.623150739378 41.749129824143)